Examen_Gestion_Inasistencias_IA_Lopez_Jennifer.json
{
  "name": "Examen_Gestion_Inasistencias_IA_Lopez_Jennifer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "981bce10-66b7-4107-aea0-9ee22b7bef50",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "Comprobante"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        -384
      ],
      "id": "b7826ce5-e68e-4d31-a537-91db89391619",
      "name": "Webhook",
      "webhookId": "981bce10-66b7-4107-aea0-9ee22b7bef50"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúas como un asistente de validación de justificantes escolares. Tu objetivo es realizar una revisión justa, objetiva y lógica de los archivos para confirmar que respaldan la inasistencia del estudiante, detectando solo anomalías evidentes o archivos incorrectos.\n\nAnaliza el archivo adjunto (imagen o PDF) en la propiedad binaria 'soporte' y relaciónalo con los datos del formulario:\n- Alumno: {{ $json.body.nombre }}\n- ID: {{ $json.body.idEstudiante }}\n- Motivo Seleccionado: {{ $json.body.motivo }}\n\n---\n\n### DIRECTRICES OBLIGATORIAS SEGÚN EL MOTIVO:\nVerifica el documento según el motivo seleccionado:\n\n1. 'Enfermedad' o 'Cita Médica': \n   - Debe ser una receta médica, constancia de salud o justificante médico. Debe incluir idealmente el nombre del hospital/clínica, diagnóstico o tratamiento. \n   - Si cumple y es legible = 'Aprobada'. Si está manchado o borroso = 'Dudosa'. Si no es una receta médica o está roto = 'Rechazada'.\n\n2. 'Causas de Fuerza Mayor':\n   - Debe ser un acta o certificado de defunción. Si cumple = 'Aprobada'. Si no es este documento o está roto = 'Rechazada'.\n\n3. 'Compromisos Laborales Urgentes':\n   - Debe ser una carta formal firmada que justifique la falta laboral del alumno. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n4. 'Trámites Legales u Oficiales':\n   - Debe ser una carta formal explicativa, citatorio o comprobante oficial que indique la razón de la citación. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n5. 'Representación Académica':\n   - Debe ser una nota, constancia o carta oficial de la academia o universidad justificando el permiso del alumno. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n---\n\n### REGLAS DE CLASIFICACIÓN (ESTADO):\n- 'Aprobada': El documento corresponde al motivo, cumple los requisitos anteriores, es claro, perfectamente legible y no está dañado.\n- 'Dudosa': El documento SÍ es el correcto para el motivo, pero la imagen está MANCHADA, borrosa o le falta algún sello o firma que siembre dudas razonables.\n- 'Rechazada': El archivo está ROTO, o no tiene NADA que ver con el tema (ej. paisajes, memes, fotos personales, facturas de supermercado, hojas en blanco).\n\n---\n\n### FORMATO DE SALIDA ESTRICTO:\nDebes responder ÚNICAMENTE con un objeto JSON válido. No agregues texto introductorio, saludos ni bloques de código de marcado (PROHIBIDO usar ```json y ```). El valor de confianza debe ser un número entero entre 1 y 100, sin símbolos.\n\n{\n  \"analisis\": \"Breve explicación objetiva del tipo de documento detectado, su estado de legibilidad y el porqué de la decisión.\",\n  \"estado\": \"Aprobada\",\n  \"confianza\": 95\n}",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -416,
        -384
      ],
      "id": "58c977d6-6a5b-4ab7-862e-588e8ef04405",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -256,
        -224
      ],
      "id": "e08e187c-fb1c-41e6-8d85-e5122ba1fc13",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3QUWcpJ4wQkRS301",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.text).estado }}",
                    "rightValue": "Aprobada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e53aefa5-3c61-46e0-8957-e4906692ca89"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38215dfc-886a-4d34-8e19-6a8926ebbe6f",
                    "leftValue": "={{ JSON.parse($json.text).estado }}",
                    "rightValue": "Dudosa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "079c2565-60e6-4422-8eea-fef4e0ddd3aa",
                    "leftValue": "={{ JSON.parse($json.text).estado }}",
                    "rightValue": "Rechazada",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -80,
        -400
      ],
      "id": "b66df2e5-eaf1-4fad-9db9-54f7915a6595",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ",
          "mode": "list",
          "cachedResultName": "Jutificacion_inacistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $node[\"Telegram Trigger\"].json.message.text.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        128
      ],
      "id": "7700e1b5-c992-431a-b484-1791413df65f",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3upIYHbOomsOgJCy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "=={{ \n  $json.Nombre ? \n  \"📋 *Historial de Justificaciones Encontrado*\\n\\nHola, se han localizado registros asociados al Carné: *\" + $('Telegram Trigger').item.json.message.text + \"*\\n\\n👤 *Datos del Estudiante:*\\n• *Nombre:* \" + $json.Nombre + \"\\n• *Correo:* \" + $json[\"e-mail\"] + \"\\n• *Motivo:* \" + $json[\"Motivo de inasistencia\"] + \"\\n\\n🔍 *Dictamen del Sistema:*\\n• *Confianza:* \" + $json[\"Nivel de confianza\"] + \"%\\n• *Estado:* \" + $json.Estado + \"\\n\\n📝 *Resolución detallada:*\\n\" + $json[\"Resultado de analisis\"] : \n  \"🔍 *Sin registros en el sistema*\\n\\nEl sistema de validación automática no localizó ninguna solicitud de justificación asociada al número de carné: *\" + $('Telegram Trigger').item.json.message.text + \"*\\n\\n⚠️ *¿Qué debes hacer?*\\n1. Verifica que hayas digitado correctamente tu número de carné sin espacios.\\n2. Si eres de primer ingreso, asegúrate de haber enviado primero tu solicitud formal a través del Formulario Web.\\n\\nSi el problema persiste, por favor comunícate con soporte técnico o el área de control académico.\" \n}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        112
      ],
      "id": "2a9c7856-b600-49db-99eb-3de54809d382",
      "name": "Encontrado",
      "webhookId": "43350658-ce2c-4732-a451-d7c27c603138",
      "credentials": {
        "telegramApi": {
          "id": "PqFnETZHt00kPOGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        128
      ],
      "id": "0bd21df4-c008-410f-ac73-1f3bfad3b0aa",
      "name": "Telegram Trigger",
      "webhookId": "d6848c49-cb49-420f-920a-2ac4e4804b77",
      "credentials": {
        "telegramApi": {
          "id": "PqFnETZHt00kPOGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.row_number }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "957085ab-32d0-437f-94eb-4fae156bbce9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ea3d64a9-161f-4ba2-bb8c-060170ff4760",
                    "leftValue": "={{ $json.row_number }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        128
      ],
      "id": "63ba8d6a-67cb-4468-be66-e4527db0eea2",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Webhook').item.json.body.nombre }}",
            "ID": "={{ $('Webhook').item.json.body.idEstudiante }}",
            "e-mail": "={{ $('Webhook').item.json.body.correo }}",
            "Motivo de inasistencia": "={{ $('Webhook').item.json.body.motivo }}",
            "Estado": "={{ JSON.parse($('Basic LLM Chain').item.json.text).estado }}",
            "Resultado de analisis": "={{ JSON.parse($('Basic LLM Chain').item.json.text).analisis }}",
            "Nivel de confianza": "={{ JSON.parse($json.text).confianza }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo de inasistencia",
              "displayName": "Motivo de inasistencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado de analisis",
              "displayName": "Resultado de analisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de confianza",
              "displayName": "Nivel de confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -384
      ],
      "id": "0842d41d-e2a5-4514-a6e7-2c9eb28ea059",
      "name": "Google sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3upIYHbOomsOgJCy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8973262080",
        "text": "=📢 *Actualización de Solicitud de Inasistencia*\n\nHola {{ $('Webhook').item.json.body.nombre }}, tu solicitud ha sido procesada por nuestro sistema de validación.\n\n*Estado:* {{ JSON.parse($('Basic LLM Chain').item.json.text).estado }}. {{ $json.analisis }}\n\n*Confianza del análisis:* {{ JSON.parse($('Basic LLM Chain').item.json.text).confianza }}%\n\n*Dictamen:* {{ JSON.parse($('Basic LLM Chain').item.json.text).analisis }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -384
      ],
      "id": "c94f462e-3f59-41e5-a2d6-5578a1608fb4",
      "name": "telegram text message",
      "webhookId": "407c1e0b-2b6d-4589-9a2d-bb9f0e66b36c",
      "credentials": {
        "telegramApi": {
          "id": "PqFnETZHt00kPOGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d596a2da-0ee0-495d-ac2b-d1fb9e42d673",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e6af697b-64cd-4d91-8511-8cdb0ac1a3fe",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        -272
      ],
      "id": "3c937ecb-2209-4c65-a85d-39bb18de1d6b",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8973262080",
        "text": "=Hola {{ $('Webhook').item.json.body.nombre }}lo sentimos pero hemos encontrado que tu correo {{ $('Webhook').item.json.body.correo }} no tiene un @ porfavor colacselo ",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        -144
      ],
      "id": "dbf66a88-4362-4dd4-bca9-7901deae1ad6",
      "name": "Send a text message",
      "webhookId": "1a0db6d3-c57f-4455-8f20-1f0625b777cf",
      "credentials": {
        "telegramApi": {
          "id": "PqFnETZHt00kPOGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8973262080",
        "text": "=Hola {{ $json.body.nombre }} tus datos han sido ingresados con exito.",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        -288
      ],
      "id": "95068fd1-17b3-43c3-ab39-86a6a3ac30de",
      "name": "Send a text message1",
      "webhookId": "b2ce324d-261d-47ca-82ca-49903510be58",
      "credentials": {
        "telegramApi": {
          "id": "PqFnETZHt00kPOGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=correo ={{ $('Webhook').item.json.body.correo }}.toLowerCase();",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -384
      ],
      "id": "cbd7299f-d666-440c-81be-31ca5f1b9974",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google sheet": {
      "main": [
        [
          {
            "node": "telegram text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "17e8e254-6fb2-48f1-bf91-a09e69b5ad1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7033fd74096235ec813e24f9fdec4bc4c81305e81ccb232fca0d2efd976bbbdc"
  },
  "id": "r4mKWSQ4bN0Y8kOg",
  "tags": []
}