Gestor_inasistencias.json
{
  "name": "Gestor_inasistencias",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "981bce10-66b7-4107-aea0-9ee22b7bef50",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "Comprobante"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        -832
      ],
      "id": "eb46baae-1c8e-460e-8086-8ccc3e7e109c",
      "name": "Webhook",
      "webhookId": "981bce10-66b7-4107-aea0-9ee22b7bef50"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúas como un asistente de validación de justificantes escolares. Tu objetivo es realizar una revisión justa, objetiva y lógica de los archivos para confirmar que respaldan la inasistencia del estudiante, detectando solo anomalías evidentes o archivos incorrectos.\n\nAnaliza el archivo adjunto (imagen o PDF) en la propiedad binaria 'soporte' y relaciónalo con los datos del formulario:\n- Alumno: {{ $json.body.nombre }}\n- ID: {{ $json.body.idEstudiante }}\n- Motivo Seleccionado: {{ $json.body.motivo }}\n\n---\n\n### DIRECTRICES OBLIGATORIAS SEGÚN EL MOTIVO:\nVerifica el documento según el motivo seleccionado:\n\n1. 'Enfermedad' o 'Cita Médica': \n   - Debe ser una receta médica, constancia de salud o justificante médico. Debe incluir idealmente el nombre del hospital/clínica, diagnóstico o tratamiento. \n   - Si cumple y es legible = 'Aprobada'. Si está manchado o borroso = 'Dudosa'. Si no es una receta médica o está roto = 'Rechazada'.\n\n2. 'Causas de Fuerza Mayor':\n   - Debe ser un acta o certificado de defunción. Si cumple = 'Aprobada'. Si no es este documento o está roto = 'Rechazada'.\n\n3. 'Compromisos Laborales Urgentes':\n   - Debe ser una carta formal firmada que justifique la falta laboral del alumno. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n4. 'Trámites Legales u Oficiales':\n   - Debe ser una carta formal explicativa, citatorio o comprobante oficial que indique la razón de la citación. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n5. 'Representación Académica':\n   - Debe ser una nota, constancia o carta oficial de la academia o universidad justificando el permiso del alumno. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n---\n\n### REGLAS DE CLASIFICACIÓN (ESTADO):\n- 'Aprobada': El documento corresponde al motivo, cumple los requisitos anteriores, es claro, perfectamente legible y no está dañado.\n- 'Dudosa': El documento SÍ es el correcto para el motivo, pero la imagen está MANCHADA, borrosa o le falta algún sello o firma que siembre dudas razonables.\n- 'Rechazada': El archivo está ROTO, o no tiene NADA que ver con el tema (ej. paisajes, memes, fotos personales, facturas de supermercado, hojas en blanco).\n\n---\n\n### FORMATO DE SALIDA ESTRICTO:\nDebes responder ÚNICAMENTE con un objeto JSON válido. No agregues texto introductorio, saludos ni bloques de código de marcado (PROHIBIDO usar ```json y ```). El valor de confianza debe ser un número entero entre 1 y 100, sin símbolos.\n\n{\n  \"analisis\": \"Breve explicación objetiva del tipo de documento detectado, su estado de legibilidad y el porqué de la decisión.\",\n  \"estado\": \"Aprobada\",\n  \"confianza\": 95\n}",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -640,
        -832
      ],
      "id": "1dc933d1-f965-41b9-9675-bacde9b33323",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -688,
        -672
      ],
      "id": "caaa43dc-7e2a-42ca-86fc-4afb903809dd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DKnbH3ia6XkoBfMM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.match(/\"estado\":\\s*\"([^\"]+)\"/)?.[1].trim() }}",
                    "rightValue": "Aprobada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e53aefa5-3c61-46e0-8957-e4906692ca89"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "84cb2685-fa93-4f3c-be1d-4699125a165b",
                    "leftValue": "={{ $json.text.match(/\"estado\":\\s*\"([^\"]+)\"/)?.[1].trim() }}",
                    "rightValue": "Dudosa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb7ea91f-dff6-43f5-a652-0ecbd038b219",
                    "leftValue": "={{ $json.text.match(/\"estado\":\\s*\"([^\"]+)\"/)?.[1].trim() }}",
                    "rightValue": "Rechazada",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -320,
        -848
      ],
      "id": "901f9eab-80e2-468b-ba09-ea5680110abd",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ",
          "mode": "list",
          "cachedResultName": "Jutificacion_inacistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Dudosa",
            "Nombre": "={{ $('Webhook').item.json.body.nombre }}",
            "ID": "={{ $('Webhook').item.json.body.idEstudiante }}",
            "e-mail": "={{ $('Webhook').item.json.body.correo }}",
            "Motivo de inasistencia": "={{ $('Webhook').item.json.body.motivo }}",
            "Resultado de analisis": "={{ JSON.parse($json.text).analisis }}",
            "Nivel de confianza": "={{ JSON.parse($json.text).confianza }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo de inasistencia",
              "displayName": "Motivo de inasistencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado de analisis",
              "displayName": "Resultado de analisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de confianza",
              "displayName": "Nivel de confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        -848
      ],
      "id": "c0a27f2e-64d0-4c28-b6bf-ec0b8b87dc4d",
      "name": "Dudosa",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WdorZym4xpes5TTs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8973262080",
        "text": "=Tu justificante ha quedado en estado Dudoso. Razón: {{ JSON.parse($json.text).analisis }}. Se requiere revisión manual.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -848
      ],
      "id": "d1ebb8eb-e1cc-4174-9d0f-4261e05383e8",
      "name": "Dudoso",
      "webhookId": "a53cfb44-0328-431c-8b50-94a54315ddc9",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8973262080",
        "text": "=¡Hola {{ $('Webhook').item.json.body.nombre }}! Tu justificación ha sido Aprobada.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -1024
      ],
      "id": "a5cef9cd-6fb8-46db-b972-09a0ce276754",
      "name": "Aprobada1",
      "webhookId": "407c1e0b-2b6d-4589-9a2d-bb9f0e66b36c",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Webhook').item.json.body.nombre }}",
            "ID": "={{ $('Webhook').item.json.body.idEstudiante }}",
            "e-mail": "={{ $('Webhook').item.json.body.correo }}",
            "Motivo de inasistencia": "={{ $('Webhook').item.json.body.motivo }}",
            "Estado": "=Aprobada",
            "Resultado de analisis": "={{ JSON.parse($json.text).analisis }}",
            "Nivel de confianza": "={{ JSON.parse($json.text).confianza }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo de inasistencia",
              "displayName": "Motivo de inasistencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado de analisis",
              "displayName": "Resultado de analisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de confianza",
              "displayName": "Nivel de confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -1024
      ],
      "id": "e7451bb9-f227-4c47-9ba7-bdac6258070f",
      "name": "Aprobada",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WdorZym4xpes5TTs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ",
          "mode": "list",
          "cachedResultName": "Jutificacion_inacistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Webhook').item.json.body.nombre }}",
            "e-mail": "={{ $('Webhook').item.json.body.correo }}",
            "ID": "={{ $('Webhook').item.json.body.idEstudiante }}",
            "Motivo de inasistencia": "={{ $('Webhook').item.json.body.motivo }}",
            "Estado": "Rechazado",
            "Resultado de analisis": "={{ JSON.parse($json.text).analisis }}",
            "Nivel de confianza": "={{ JSON.parse($json.text).confianza }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo de inasistencia",
              "displayName": "Motivo de inasistencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado de analisis",
              "displayName": "Resultado de analisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de confianza",
              "displayName": "Nivel de confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        -688
      ],
      "id": "0d844aa8-1dff-4d78-a2fd-9688af420a38",
      "name": "Rechazada",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WdorZym4xpes5TTs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8973262080",
        "text": "Lo sentimos, tu solicitud de justificación fue Rechazada. El documento no cumple con los requisitos o no corresponde al motivo seleccionado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -688
      ],
      "id": "6f61d98f-0c23-4075-ba7f-9a71a771460d",
      "name": "Rechazada1",
      "webhookId": "152e60f8-fede-4e03-bcc9-9997d5c046ab",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Aprobada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dudosa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dudosa": {
      "main": [
        [
          {
            "node": "Dudoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprobada": {
      "main": [
        [
          {
            "node": "Aprobada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechazada": {
      "main": [
        [
          {
            "node": "Rechazada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1fb9f196-3544-4270-a5ba-cd08c422f062",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cb19d0099f43cc7fb96142740ef56b226e967a1cace5025b7b7f9be4454fe7c"
  },
  "id": "5gVmSI3RsXrgQ7qN",
  "tags": []
}