Gestion_Inasistencias_IA.json
{
  "name": "Gestion_Inasistencias_IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "981bce10-66b7-4107-aea0-9ee22b7bef50",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "Comprobante"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        -112
      ],
      "id": "813aec68-d8b6-42f7-b51c-12852f4f434a",
      "name": "Webhook",
      "webhookId": "981bce10-66b7-4107-aea0-9ee22b7bef50"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúas como un asistente de validación de justificantes escolares. Tu objetivo es realizar una revisión justa, objetiva y lógica de los archivos para confirmar que respaldan la inasistencia del estudiante, detectando solo anomalías evidentes o archivos incorrectos.\n\nAnaliza el archivo adjunto (imagen o PDF) en la propiedad binaria 'soporte' y relaciónalo con los datos del formulario:\n- Alumno: {{ $json.body.nombre }}\n- ID: {{ $json.body.idEstudiante }}\n- Motivo Seleccionado: {{ $json.body.motivo }}\n\n---\n\n### DIRECTRICES OBLIGATORIAS SEGÚN EL MOTIVO:\nVerifica el documento según el motivo seleccionado:\n\n1. 'Enfermedad' o 'Cita Médica': \n   - Debe ser una receta médica, constancia de salud o justificante médico. Debe incluir idealmente el nombre del hospital/clínica, diagnóstico o tratamiento. \n   - Si cumple y es legible = 'Aprobada'. Si está manchado o borroso = 'Dudosa'. Si no es una receta médica o está roto = 'Rechazada'.\n\n2. 'Causas de Fuerza Mayor':\n   - Debe ser un acta o certificado de defunción. Si cumple = 'Aprobada'. Si no es este documento o está roto = 'Rechazada'.\n\n3. 'Compromisos Laborales Urgentes':\n   - Debe ser una carta formal firmada que justifique la falta laboral del alumno. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n4. 'Trámites Legales u Oficiales':\n   - Debe ser una carta formal explicativa, citatorio o comprobante oficial que indique la razón de la citación. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n5. 'Representación Académica':\n   - Debe ser una nota, constancia o carta oficial de la academia o universidad justificando el permiso del alumno. Si cumple = 'Aprobada'. Si no corresponde o está roto = 'Rechazada'.\n\n---\n\n### REGLAS DE CLASIFICACIÓN (ESTADO):\n- 'Aprobada': El documento corresponde al motivo, cumple los requisitos anteriores, es claro, perfectamente legible y no está dañado.\n- 'Dudosa': El documento SÍ es el correcto para el motivo, pero la imagen está MANCHADA, borrosa o le falta algún sello o firma que siembre dudas razonables.\n- 'Rechazada': El archivo está ROTO, o no tiene NADA que ver con el tema (ej. paisajes, memes, fotos personales, facturas de supermercado, hojas en blanco).\n\n---\n\n### FORMATO DE SALIDA ESTRICTO:\nDebes responder ÚNICAMENTE con un objeto JSON válido. No agregues texto introductorio, saludos ni bloques de código de marcado (PROHIBIDO usar ```json y ```). El valor de confianza debe ser un número entero entre 1 y 100, sin símbolos.\n\n{\n  \"analisis\": \"Breve explicación objetiva del tipo de documento detectado, su estado de legibilidad y el porqué de la decisión.\",\n  \"estado\": \"Aprobada\",\n  \"confianza\": 95\n}",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -496,
        -112
      ],
      "id": "741874e0-ab99-45b6-a289-6fdef05c92de",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -496,
        48
      ],
      "id": "0e94d454-a6ac-4f55-a062-4ba90659bb78",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DKnbH3ia6XkoBfMM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.text).estado }}",
                    "rightValue": "Aprobada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e53aefa5-3c61-46e0-8957-e4906692ca89"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38215dfc-886a-4d34-8e19-6a8926ebbe6f",
                    "leftValue": "={{ JSON.parse($json.text).estado }}",
                    "rightValue": "Dudosa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "079c2565-60e6-4422-8eea-fef4e0ddd3aa",
                    "leftValue": "={{ JSON.parse($json.text).estado }}",
                    "rightValue": "Rechazada",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -144,
        -128
      ],
      "id": "a2d9b137-6ed0-4cdf-9b59-d06dec4e39e8",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ",
          "mode": "list",
          "cachedResultName": "Jutificacion_inacistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $node[\"Telegram Trigger\"].json.message.text.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        400
      ],
      "id": "f2f174b1-ea46-4d91-b966-76a6d3c96f1a",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WdorZym4xpes5TTs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "=={{ \n  $json.Nombre ? \n  \"📋 *Historial de Justificaciones Encontrado*\\n\\nHola, se han localizado registros asociados al Carné: *\" + $('Telegram Trigger').item.json.message.text + \"*\\n\\n👤 *Datos del Estudiante:*\\n• *Nombre:* \" + $json.Nombre + \"\\n• *Correo:* \" + $json[\"e-mail\"] + \"\\n• *Motivo:* \" + $json[\"Motivo de inasistencia\"] + \"\\n\\n🔍 *Dictamen del Sistema:*\\n• *Confianza:* \" + $json[\"Nivel de confianza\"] + \"%\\n• *Estado:* \" + $json.Estado + \"\\n\\n📝 *Resolución detallada:*\\n\" + $json[\"Resultado de analisis\"] : \n  \"🔍 *Sin registros en el sistema*\\n\\nEl sistema de validación automática no localizó ninguna solicitud de justificación asociada al número de carné: *\" + $('Telegram Trigger').item.json.message.text + \"*\\n\\n⚠️ *¿Qué debes hacer?*\\n1. Verifica que hayas digitado correctamente tu número de carné sin espacios.\\n2. Si eres de primer ingreso, asegúrate de haber enviado primero tu solicitud formal a través del Formulario Web.\\n\\nSi el problema persiste, por favor comunícate con soporte técnico o el área de control académico.\" \n}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        384
      ],
      "id": "89251961-d1e0-4253-b6b0-bb89ddee3cfc",
      "name": "Encontrado",
      "webhookId": "43350658-ce2c-4732-a451-d7c27c603138",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        400
      ],
      "id": "d050fc23-b3c6-45ca-ba8e-76f426b98782",
      "name": "Telegram Trigger",
      "webhookId": "d6848c49-cb49-420f-920a-2ac4e4804b77",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.row_number }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "957085ab-32d0-437f-94eb-4fae156bbce9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ea3d64a9-161f-4ba2-bb8c-060170ff4760",
                    "leftValue": "={{ $json.row_number }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -288,
        400
      ],
      "id": "7c856ec8-f3de-4408-9036-a2513782a094",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Webhook').item.json.body.nombre }}",
            "ID": "={{ $('Webhook').item.json.body.idEstudiante }}",
            "e-mail": "={{ $('Webhook').item.json.body.correo }}",
            "Motivo de inasistencia": "={{ $('Webhook').item.json.body.motivo }}",
            "Estado": "={{ JSON.parse($('Basic LLM Chain').item.json.text).estado }}",
            "Resultado de analisis": "={{ JSON.parse($('Basic LLM Chain').item.json.text).analisis }}",
            "Nivel de confianza": "={{ JSON.parse($json.text).confianza }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo de inasistencia",
              "displayName": "Motivo de inasistencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado de analisis",
              "displayName": "Resultado de analisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de confianza",
              "displayName": "Nivel de confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -112
      ],
      "id": "008dd4ee-ef4e-45a5-a19f-320684163e12",
      "name": "Google sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WdorZym4xpes5TTs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8973262080",
        "text": "=📢 *Actualización de Solicitud de Inasistencia*\n\nHola {{ $('Webhook').item.json.body.nombre }}, tu solicitud ha sido procesada por nuestro sistema de validación.\n\n*Estado:* {{ JSON.parse($('Basic LLM Chain').item.json.text).estado }}. {{ $json.analisis }}\n\n*Confianza del análisis:* {{ JSON.parse($('Basic LLM Chain').item.json.text).confianza }}%\n\n*Dictamen:* {{ JSON.parse($('Basic LLM Chain').item.json.text).analisis }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -144
      ],
      "id": "ee6b020c-d94c-41db-9062-c458dc1383f0",
      "name": "telegram text message",
      "webhookId": "407c1e0b-2b6d-4589-9a2d-bb9f0e66b36c",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google sheet": {
      "main": [
        [
          {
            "node": "telegram text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "55b83148-1ccb-41b3-a4f7-18ce91ef473a",
  "meta": {
    "instanceId": "8cb19d0099f43cc7fb96142740ef56b226e967a1cace5025b7b7f9be4454fe7c"
  },
  "id": "AMuK64zq9vku1oge",
  "tags": []
}