Respuesta_bot (1).json
{
  "name": "Respuesta_bot",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ",
          "mode": "list",
          "cachedResultName": "Jutificacion_inacistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVjwxDdCWL4HiA-kpOCzuRAFDNg6qkPv1zty6k1m7rQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -32
      ],
      "id": "e6f24a51-9203-4b23-be81-cfe4b5df3956",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WdorZym4xpes5TTs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Inicializamos el mensaje del historial\nlet mensaje = \"📋 *Historial de Solicitudes encontradas:*\\n\\n\";\n\n// Capturamos todas las filas que trajo Google Sheets\nlet filas = $input.all();\n\n// Si el Excel vino vacío o no tiene un ID válido\nif (filas.length === 0 || !filas[0].json.ID) {\n  return [{ json: { encontrado: false, texto: \"❌ No se encontraron solicitudes registradas con ese ID.\" } }];\n}\n\n// Recorremos el listado para armar el texto\nfilas.forEach((item, index) => {\n  let data = item.json;\n  mensaje += `🔹 *Solicitud #${index + 1}*\\n`;\n  mensaje += `👤 Alumno: ${data.Nombre || 'N/A'}\\n`;\n  mensaje += `📊 Estado: *${data.Estado || 'Pendiente'}*\\n`;\n  mensaje += `📋 Motivo: ${data['Motivo de inasistencia'] || 'N/A'}\\n`;\n  mensaje += `📝 Detalle IA: _${data['Resultado de analisis'] || 'Sin revisar'}_\\n`;\n  mensaje += `----------------------------\\n\\n`;\n});\n\n// Enviamos el resultado al Switch\nreturn [{ \n  json: { \n    encontrado: true, \n    texto: mensaje, \n    chat_id: filas[0].json.chat_id || 8973262080 \n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -32
      ],
      "id": "0214e3a0-eae7-4d3c-b333-ab56fdbc09b1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed249068-e21c-4534-8503-37fb6e1455ae",
                    "leftValue": "={{ $json.encontrado }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6cf067f5-4e81-4d56-96ab-f8cc7d62c78c",
                    "leftValue": "={{ $json.encontrado }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        384,
        -32
      ],
      "id": "5d0467ef-54bc-4239-a5ed-631eec74d111",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "=8973262080",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -128
      ],
      "id": "b0c2a793-7b8a-4234-8497-227fdd884092",
      "name": "Encontrado",
      "webhookId": "43350658-ce2c-4732-a451-d7c27c603138",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=8973262080",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        48
      ],
      "id": "3402983d-5207-45c3-8f27-0679dd9e5f89",
      "name": "No encontrado",
      "webhookId": "240271cd-f3b2-4273-bfff-53bba02794aa",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -32
      ],
      "id": "bdd65bc3-15da-4cdf-a0bf-ce5bd86515ba",
      "name": "Telegram Trigger",
      "webhookId": "589fd2f8-6ad1-4292-b5a7-bf153a46779f",
      "credentials": {
        "telegramApi": {
          "id": "c8wdaR8PrC3V8f8N",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "message": {
            "chat": {
              "id": 8973262080
            },
            "text": "202301425"
          }
        }
      }
    ]
  },
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "75f5a966-2f94-4815-a66c-1e73fe0780ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cb19d0099f43cc7fb96142740ef56b226e967a1cace5025b7b7f9be4454fe7c"
  },
  "id": "N6Ak3e5OXmkLp96k",
  "tags": []
}